.chart {
    -fx-padding: 5px;
    -fx-background-color: white;
}
.chart-content {
    -fx-padding: 5px;
    -fx-background-color: transparent;
}

.chart-title {
    -fx-font-size: 14;
}

.chart-legend {
    -fx-background-color: transparent;
    -fx-padding: 0px;
    -fx-font-size: 12;
}

.chart-legend-item-symbol{
    -fx-background-radius: 2;
}

.chart-legend-item{
    -fx-text-fill: #414141;
}

.chart-plot-background {
    -fx-background-color: transparent;
}

.default-color0.chart-bar {
    -fx-background-color: #ffc0cb;
}
.default-color1.chart-bar {
    -fx-background-color: #d971d6;
}
.default-color2.chart-bar {
    -fx-background-color: #87cef9;
}
.default-color3.chart-bar {
    -fx-background-color: #adff2f;
}